section.step.pre_study_evaluation
  h2 BIAT Pair Evaluation
  p#result
  p
  section.evaluation
    .left
      p How well do you think this tendency fits your actual preference?
      #attribute_d_score_fit.likert

      p Where do you see yourself between these two concepts?
      #attribute_self_assessment.likert

      hr
  
  .alert.alert-danger(role='alert') X
  button.btn-submit Submit